.dataTables_length {
    display: none;
}

.dataTables_filter {
    display: none;
}

.form-remedi-date{
    width:180px;
    margin-right: 15px;
    margin-left: 10px;
}

.toolbar {
    margin-top: 30px;
    margin-bottom: 30px;
}

.row {
    margin-right: 0px;
    margin-left:  0px;
}
